<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Błąd {{ error_code }} - Dijkstra Backpack Problem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_error_template.css') }}">
</head>
<body>
    <div class="error-container">
        <div class="error-icon">⚠️</div>
        <div class="error-code">{{ error_code }}</div>
        <div class="error-message">{{ error_message }}</div>
        <a href="{{ url_for('index') }}" class="home-button">Go back</a>
    </div>
</body>
</html>
