<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dijkstra Backpack Problem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Dijkstra Backpack Problem</h1>
<form action="/solve" method="post">
    <div class="input_container">
        <label for="weights">Weights (comma-separated):</label>
        <input
                type="text"
                id="weights"
                name="weights"
                required
                placeholder="1,2,4.5,23.8,0.5"
                onblur="weights_validation()"
        >
        <br>
        <div id="weights_alerts"></div>
        <label for="values">Values (comma-separated):</label>
        <input
                type="text"
                id="values"
                name="values"
                required
                placeholder="1,2,4.5,23.8,0.5"
                onblur="values_validation()"
        >
        <br>
        <div id="values_alerts"></div>
        <label for="capacity">Capacity:</label>
        <input
                type="text"
                id="capacity"
                name="capacity"
                required
                placeholder="120.0"
        >
        <br>
    </div>
    <button type="submit"> Solve</button>
</form>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
